[submodule "src/traj_tracking/third_party/osqp-eigen"]
	path = src/traj_tracking/third_party/osqp-eigen
	url = https://github.com/robotology/osqp-eigen.git
[submodule "src/traj_tracking/third_party/osqp"]
	path = src/traj_tracking/third_party/osqp
	url = https://github.com/osqp/osqp.git
